# Rust build artifacts.
*/target

# Visual Studio developer files.
.vs
*.user
*/x64/Release
*/*/x64/Release

# JetBrains developer files.
*.idea
*.scratch

# AI agents.
.claude

# Mac artifacts.
*.DS_Store

# Developer tooling artifacts for fonts.
zebra-gui/icon-font/fontello-*/

# Developer testing configs and database directories.
*.local.toml
ignored_dir/**
BB_*
NN_*
ZZ*
.AA*
zebra-crosslink/testnet_online*
zebra-crosslink/profile.json.gz
zebra.rad

# Deploylink feature net scripts for connecting to servers.
servers/*

# `nix build` result symlinks.
/result
/result-*
