name: Cargo Checkmate

on:
  workflow_call:

jobs:
  cargo-checkmate:
    name: Cargo Checkmate
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        phase: [build, check, clippy, doc, format]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Rust toolchain
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: ${{ inputs.toolchain }}

      - name: Cache cargo
        uses: Swatinem/rust-cache@v2

      - name: Install protoc
        run: |
          if ! command -v protoc; then
            sudo apt-get update
            sudo apt-get install -y protobuf-compiler
          fi

      - name: Run cargo-checkmate
        uses: zingolabs/infrastructure/.github/actions/cargo-checkmate@20485fed7a080e381130ed8120419dc81acae641
        with:
          phase: ${{ matrix.phase }}
